@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/pxiKyp0ihIEF2isfFJXUdVNF.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4AJi8SJQt.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --size-xs: 0.25rem;
  --size-sm: 0.5rem;
  --size-md: 1rem;
  --size-lg: 2rem;
  --size-xl: 4rem;

  --size-width-xs: 8rem;
  --size-width-sm: 18rem;
  --size-width-md: 32rem;
  --size-width-lg: 48rem;
  --size-width-xl: 64rem;

  --paragraph-size: 32rem;
  --column-size: calc(--paragraph-size * 2);

  --color-text: #fafafa;
  /*
  --color-text-primary: #333;
  --color-text-secondary: #cfcfcf;*/
  --color-primary: #4aa6fc;
  --color-primary-variant: #fbea82;

  /*--color-background: rgba(255, 255, 255, 0.9);*/
  --color-secondary: rgba(0, 0, 0, 0.5);
  --color-background: rgba(0, 0, 0, 0.75);
  --color-background-primary: var(--color-background);
  --color-background-shadow: #161616;
  --color-background-secondary: #323230;
  --color-background-disabled: #626262;

  --color-overlay: rgba(0, 0, 0, 0.66);

  font-weight: 400;
  line-height: 1.5;

  /*color-scheme: light dark;*/
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #242424;
    --color-text-primary: #242424;
    --color-text-secondary: #363636;

    --color-background: rgba(250, 250, 255, 0.9);
    --color-secondary: rgba(250, 250, 255, 0.9);
    --color-background-primary: var(--color-background);
    --color-background-shadow: #161616;
    --color-background-secondary: #ffffff;
    --color-background-disabled: #626262;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h1,
h2,
h3,
h4,
button,
.font-secondary {
  font-family: "VT323", monospace !important;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1em;
}

button {
  background: var(--color-primary-variant);
  font-size: 1.375rem!important;
  padding: 0.5rem 1rem;
  border: 4px solid var(--color-background-secondary);
  position: relative;
  border-radius: 4px;
}

button:hover,
button:focus,
button:active {
  border: 4px solid var(--color-text-primary);
}

.nes-container.with-title > .title {
  background: var(--color-background-primary);
}

.nes-input,
textarea {
  background: var(--color-background-secondary);
  color: var(--color-text-primary);
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary-variant);
}

body::after {
  content: " ";
  position: fixed;
  background: var(--color-background);
  z-index: -2;
  inset: 0;
}
body > canvas {
  image-rendering: pixelated;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  /*
  background-image: url("/background2.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;*/
}
header {
  margin-top: 15vh;
}
section,
article {
  font-family: "Roboto Mono", monospace;
  color: var(--color-text);
}

article:last-of-type,
article > div:not(.transparent) {
  background: var(--color-secondary);
}

article:last-of-type {
  margin-bottom: 33vh;
}

html,
body {
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100%;
  color: var(--color-text-primary);
}

html.injected,
html.injected body {
  background: none;
}

h1,
h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1.secondary,
h2.secondary,
h3.secondary,
h4.secondary,
h5.secondary,
p.secondary,
span.secondary {
  color: var(--color-text-secondary);
}

p {
  max-width: 36rem;
}

span.sm,
p.sm {
  font-size: 0.875rem;
}

span.xs,
p.xs {
  font-size: 0.75rem;
}

span.lg,
p.lg {
  font-size: 1.25rem;
}

footer {
  margin-top: var(--size-lg);
  margin-bottom: calc(var(--size-md) - var(--size-xl));
  margin-left: calc(var(--size-md) - var(--size-xl));
  align-self: flex-start;
}

.outline-sm {
  margin-top: var(--size-md);
  margin-bottom: var(--size-md);
  position: relative;
  z-index: 1;
  border-radius: 16px;
  border: var(--size-sm) solid var(--color-primary);
}
.outline-md {
  margin-top: var(--size-md);
  margin-bottom: var(--size-md);
  position: relative;
  z-index: 1;
  border-radius: 16px;
  border: var(--size-md) solid var(--color-primary);
}
.window {
  background: none;
  position: relative;
  z-index: 1;
}
.window::after {
  z-index: -1;
  position: absolute;
  content: " ";
}
.window::after {
  inset: 0px;
  background: var(--color-secondary);
  clip-path: polygon(
    0% 0%,
    0% 100%,
    var(--size-lg) 100%,
    var(--size-lg) var(--size-md),
    calc(100% - var(--size-lg)) var(--size-md),
    calc(100% - var(--size-lg)) calc(var(--size-md) + 2rem),
    var(--size-lg) calc(var(--size-md) + 2rem),
    var(--size-lg) 100%,
    100% 100%,
    100% 0%
  );
}
.outline-md::before,
.outline-md::after {
  content: " ";
  position: absolute;
  z-index: -1;
}
.outline-md::before {
  z-index: -2;
  inset: calc(0px - var(--size-md));
  border-radius: 16px;
  border: 2px solid var(--color-text-primary);
}

ul {
  margin: 0;
}

@media screen and (min-width: 48rem) {
  #gly::before {
    content: " ";
    position: absolute;
    inset: 0px;

    z-index: -1;
  }
  #gly {
    position: relative;
    width: 66%;
    margin: auto;
    background-position: center;
  }
  article:last-of-type,
  article > div:not(.transparent) {
    border-radius: 16px;
  }
}

@media screen and (max-width: 48rem) {
  :root {
    --size-md: 0.75rem;
    --size-lg: 1.5rem;
    --size-xl: 1.5rem;
  }

  header > section {
    padding: 0!important;
  }
  .padding-xl {
    padding: 0!important;
  }
  #community {
    align-self: center;
  }
  .nes-container {
    padding: 1.5rem 1rem;
  }

  section,
  article {
    box-shadow: none;
  }
}

.tgram {
  image-rendering: pixelated;
  width: 48px;
  height: 48px;
}
