@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4AJi8SJQt.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #efefef;
    --color-text-primary: #efefef;
    --color-text-secondary: #cfcfcf;
    --color-primary: #108de0;
    --color-primary-variant: #3990f0;
    --color-secondary: rgba(0, 0, 0, 0.5);

    --color-background: #212529;
    --color-background-primary: var(--color-background);
    --color-background-shadow: #161616;
    --color-background-secondary: #323230;
    --color-background-disabled: #626262;

    color: rgba(255, 255, 255, 0.87);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .nes-balloon {
    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-outset: 0;
    color: #fff!important;
    background: #212529!important;
    border-image-outset: 2;
    box-shadow: 0 0 0 8px #212529!important;
  }
  .nes-container {
    position: relative;
    margin: 4px;
    color: #fff;
    background-color: #212529;
    border-color: #fff!important;
  }
}
@media screen and (max-width: 48rem) {
  :root {
    --size-md: 0.5rem;
    --size-lg: 1.25rem;
    --size-xl: 1rem;
  }

  #community {
    align-self: center;
  }
}
article button {
  font-size: 1rem;
}

h1 {
  font-size: 1.25rem;
  text-transform: none !important;
}
h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
button,
a.nes-btn,
.font-secondary {
  font-family: "Press Start 2P", monospace !important;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
}
.link-icon {
  image-rendering: pixelated;
  height: 48px;
}
.dextools {
  font-family: "Press Start 2P", monospace !important;
  color: var(--text-primary);
}
body {
  background: var(--color-background) !important;
}
body > canvas {
  image-rendering: pixelated;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

article,
article section {
  background: var(--color-secondary);
}
article:last-of-type {
  margin-bottom: 33vh;
}

section,
article {
  font-family: "Roboto Mono", monospace;
  color: var(--color-text);
}

p.title {
  font-family: "Press Start 2P", monospace !important;
}

article section ul {
  margin-left: 1rem;
}
